
<div id="body">

    <div class="root">

    <section class="container">
    <div class="content__container">
      <h1>
        Driving School<br />
        <span class="heading__1">Auto Ecole MAA</span><br />
        <span class="heading__2">Platform</span>
      </h1>
      <p>
        Elevate your driving skills with our cutting-edge education platform. Seamlessly blending technology and education, we offer interactive lessons, virtual classrooms, and intelligent feedback. Experience a personalized journey to mastery, unlocking your full potential on the road. Join us for a confident and immersive approach to driving success.
      </p>
        <button type="submit">Contact Us!</button>
    </div>
    <div class="image__container">
      <img src="assets/head2.jpg" alt="header" />
      <img src="assets/head1.jpg" alt="header" />
      <div class="image__content">
        <ul>
          <li> Street Code Learning Lessons</li>
          <li> Driving Lessons</li>
          <li> Expert Teachers</li>
        </ul>
      </div>
    </div>
  
        </section>

    </div>
</div>